[build-system]
requires = ["hatchling", "hatch-vcs"]
build-backend = "hatchling.build"

[project]
name = "dandiapi"
requires-python = ">=3.13"
license = "Apache-2.0"
license-files = ["LICENSE", "NOTICE"]
classifiers = ["Private :: Do Not Upload"]
dependencies = [
  "celery",
  "dandi",
  # Pin dandischema to exact version to make explicit which schema version is being used
  "dandischema==0.11.1",  # schema version 0.6.10
  "django~=4.2.0",
  # Pin to version where this bug is fixed
  # https://codeberg.org/allauth/django-allauth/issues/4072
  "django-allauth>=65.3.0",
  "django-click",
  "django-configurations[database,email]",
  "django-extensions",
  "django-filter",
  "django-guardian",
  "django-oauth-toolkit>2",
  # TODO: pin this until we figure out what the cause of
  # https://github.com/dandi/dandi-archive/issues/1894 is.
  "djangorestframework==3.14.0",
  "drf-extensions",
  "drf-yasg",
  "fsspec[http]",
  "jsonschema",
  "boto3[s3]",
  "more_itertools",
  "requests",
  "s3-log-parse",
  "zarr-checksum>=0.2.8",
  # Production-only
  "django-composed-configuration[prod]>=0.25.0",
  "django-s3-file-field[s3]>=1.0.0",
  "django-storages[s3]==1.14.3",
  "gunicorn",
  # Development-only, but required
  "django-minio-storage",
  "minio>7",
  "tqdm",
]
dynamic = ["version"]

[project.optional-dependencies]
dev = [
  "django-composed-configuration[dev]>=0.25.0",
  "django-debug-toolbar",
  "django-s3-file-field[minio]",
  "Faker>=36.0.0",
  "ipython",
  "tox",
  "memray",
  "boto3-stubs[s3]",
  "django-stubs",
  "djangorestframework-stubs",
  "types-setuptools",
  "pre-commit",
]
test = [
  "djangorestframework-yaml",
  "factory-boy",
  "freezegun",
  "pytest<8.4.0",  # current incompatibility with factoryboy
  "pytest-cov",
  "pytest-django",
  "pytest-factoryboy",
  "pytest-memray",
  "pytest-mock",
]

[tool.hatch.build]
packages = [
  "dandiapi",
]

# When building an sdist for upload to Heroku, also include "requirements.txt"
[tool.hatch.build.targets.sdist]
only-include = [
  "dandiapi",
  "/requirements.txt",
]

[tool.hatch.version]
source = "vcs"
raw-options = {version_scheme = "no-guess-dev"}

[tool.mypy]
ignore_missing_imports = true
show_error_codes = true
disable_error_code = ["attr-defined", "var-annotated"]
follow_imports = "skip" # Don't follow imports into other files. This should be removed once all type errors have been resolved.
exclude = [
    "^dandiapi/api/tests/",
    "^dandiapi/api/views/",
    "^dandiapi/zarr/tests/",
]

# Re-enable these when https://github.com/typeddjango/django-stubs/issues/417 is fixed.
# plugins = ["mypy_django_plugin.main", "mypy_drf_plugin.main"]

# [tool.django-stubs]
# django_settings_module = "dandiapi.settings"

[tool.ruff]
line-length = 100
target-version = "py313"

[tool.ruff.lint]
select = ["ALL"]
ignore = [
  # Incompatible with formatter
  # https://docs.astral.sh/ruff/formatter/#conflicting-lint-rules
  "COM812", # missing-trailing-comma
  "COM819", # prohibited-trailing-comma
  "D206", # indent-with-spaces
  "D300", # triple-single-quotes
  "E111", # indentation-with-invalid-multiple
  "E114", # indentation-with-invalid-multiple-comment
  "E117", # over-indented
  "ISC001", # single-line-implicit-string-concatenation
  "ISC002", # multi-line-implicit-string-concatenation
  "Q", # flake8-quotes
  "W191", # tab-indentation

  "A003", # Class attribute is shadowing a Python builtin
  "ANN", # flake8-annotations
  "ARG001", # Unused function argument
  "ARG002", # Unused method argument
  "D1", # Missing docstring
  "EM101", # Exception must not use a string literal, assign to variable first
  "EM102", # Exception must not use an f-string literal, assign to variable first
  "ERA001", # Found commented-out code
  "FIX", # flake8-fixme
  "TD002", # Missing author in TODO
  "TD003", # Missing issue link on the line following this TODO
  "TRY003", # Avoid specifying long messages outside the exception class

  # Try to fix upstream
  "RUF012", #  Mutable class attributes should be annotated with `typing.ClassVar`

  # Fix in DANDI codebase. PR that will fix this:
  # https://github.com/dandi/dandi-archive/pull/1782
  "PTH119", # TODO: re-enable this when it's fixed
]

[tool.ruff.lint.per-file-ignores]
"scripts/**" = [
  "INP001", # File is part of an implicit namespace package
]
"**/migrations/**" = [
  "N806", # Variable in function should be lowercase
  "RUF012", # Mutable class attributes should be annotated with `typing.ClassVar`
]
"**/management/commands/**" = [
  "INP001", # File is part of an implicit namespace package
]
"**/tests/**" = [
  "DJ007", # Do not use `__all__`
  "DJ008", # Model does not define `__str__` method
  "PLR0913", # Too many arguments to function call
  "PLR2004", # Magic value used in comparison
  "S", # flake8-bandit
  "SLF001", # Private member accessed
]

[tool.ruff.format]
quote-style = "single"

[tool.ruff.lint.flake8-self]
extend-ignore-names = ["_base_manager", "_default_manager",  "_meta"]

[tool.ruff.lint.isort]
# Sort by name, don't cluster "from" vs "import"
force-sort-within-sections = true
# Deferred annotations allows TCH rules to move more imports into TYPE_CHECKING blocks
required-imports = ["from __future__ import annotations"]

[tool.ruff.lint.pydocstyle]
convention = "pep257"
