boto3
celery
dandi==0.4.5
django
django-admin-display
django-configurations[database]
django-cors-headers
django-extensions
django-filter
djangorestframework
drf-extensions
drf-yasg
httpx
psycopg2
pyyaml
whitenoise[brotli]

django-stubs
djangorestframework-stubs
mypy-boto3-s3

# Production-only
django-storages
gunicorn
sentry-sdk

# Development-only
django-debug-toolbar
django-minio-storage
