boto3
celery
dandi==0.4.5
django
django-configurations[database]
django-cors-headers
djangorestframework
httpx
psycopg2
pyyaml
whitenoise[brotli]

django-stubs
djangorestframework-stubs
mypy-boto3-s3

# Production-only
django-storages
gunicorn

# Development-only
django-debug-toolbar
django-minio-storage
