name: Trigger production deploy of backend server on push to release

on:
  push:
    branches:
      - release
    paths-ignore:
      - "web/**"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: akhileshns/heroku-deploy@v3.12.12
        with:
          heroku_api_key: ${{secrets.HEROKU_API_KEY}}
          heroku_app_name: "dandi-api"
          heroku_email: ${{secrets.HEROKU_EMAIL}}
