name: Deploy frontend to production

on:
  release:
    types:
      - published # use `published` instead of `created` b/c `created` also runs on draft releases
    paths:
      - "web/**"

  workflow_dispatch:

jobs:
  deploy-frontend-production:
    defaults:
      run:
        working-directory: web
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/setup-node@v2
        with:
          node-version: '14.x'
          cache: 'yarn'
          cache-dependency-path: web/yarn.lock

      - name: Install Yarn dependencies
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install --frozen-lockfile --prefer-offline

      - name: Build the frontend
        run: yarn run build

      - name: Remove netlify.toml file
        run: rm netlify.toml

      - name: Set production deploy environment variables
        run: npx netlify env:import .env.production
        env:
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
          # The CLI complains if this is not specified, even though the command
          # succeeds without it.
          NETLIFY_SITE_ID: ${{secrets.NETLIFY_PRODUCTION_SITE_ID}}

      - name: Deploy to production
        run: npx netlify deploy --prod --dir=dist
        env:
          NETLIFY_AUTH_TOKEN: ${{secrets.NETLIFY_AUTH_TOKEN}}
          NETLIFY_SITE_ID: ${{secrets.NETLIFY_PRODUCTION_SITE_ID}}
