[build]
publish = "dist"
command = "git fetch --tags && npm run build"
ignore = "false"

# Staging
[context.master.environment]
NODE_VERSION = "20"
VITE_APP_OAUTH_API_ROOT = "https://api.sandbox.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api.sandbox.dandiarchive.org/api/"
VITE_APP_DOI_SERVER = "https://api.test.datacite.org/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "staging"

# Deploy previews
[context.deploy-preview.environment]
NODE_VERSION = "20"
VITE_APP_OAUTH_API_ROOT = "https://api.sandbox.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api.sandbox.dandiarchive.org/api/"
VITE_APP_DOI_SERVER = "https://api.test.datacite.org/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "staging"

# Branch deploys
[context.branch-deploy.environment]
NODE_VERSION = "20"
VITE_APP_OAUTH_API_ROOT = "https://api.sandbox.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api.sandbox.dandiarchive.org/api/"
VITE_APP_DOI_SERVER = "https://handle.stage.datacite.org/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "staging"

# Production
[context.release.environment]
NODE_VERSION = "20"
VITE_APP_OAUTH_API_ROOT = "https://api.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api.dandiarchive.org/api/"
VITE_APP_DOI_SERVER = "https://doi.org/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "production"

[[redirects]]
from = "/handbook"
to = "https://docs.dandiarchive.org"

[[redirects]]
from = "/*"
to = "/index.html"
status = 200

[[plugins]]
package = "/netlify/plugins/server-info-build"
