[build]
publish = "dist"
command = "yarn run build"

# Staging
[context.master.environment]
NODE_VERSION = "16" # Netlify defaults to node.js 10, but @types/node requires a more recent version
VITE_APP_OAUTH_API_ROOT = "https://api-staging.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api-staging.dandiarchive.org/api/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "staging"

# Deploy previews
[context.deploy-preview.environment]
NODE_VERSION = "16" # Netlify defaults to node.js 10, but @types/node requires a more recent version
VITE_APP_OAUTH_API_ROOT = "https://api-staging.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api-staging.dandiarchive.org/api/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "staging"

# Production
[context.release.environment]
NODE_VERSION = "16" # Netlify defaults to node.js 10, but @types/node requires a more recent version
VITE_APP_OAUTH_API_ROOT = "https://api.dandiarchive.org/oauth/"
VITE_APP_OAUTH_CLIENT_ID = "Dk0zosgt1GAAKfN8LT4STJmLJXwMDPbYWYzfNtAl"
VITE_APP_DANDI_API_ROOT = "https://api.dandiarchive.org/api/"
VITE_APP_SENTRY_DSN = "https://425b9a012300493d867e97785fae7b88@o308436.ingest.sentry.io/5196549"
VITE_APP_SENTRY_ENVIRONMENT = "production"


[[redirects]]
from = "/*"
to = "/index.html"
status = 200


[[plugins]]
package = "/netlify/plugins/server-info-build"
